/* ------- */
/* GENERAL */
/* ------- */

/* Colors to be used as variables so can be changed in one place. Also in JS */
:root {
    --background: #17202A;
    --background-dark: #0c1218;
    --forecolor: #D1F2EB;
    --menu-color: rgba(23, 32, 42, 0.8);
}

html {
    background-color: black;
    color: var(--forecolor);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* The max-width is used for a better visual organization/display of the site */
body {
    max-width: 1280px;
    margin: auto;
    background-color: var(--background);
}

/* ------ */
/* HEADER */
/* ------ */

/* On landing page there is the header and nav list. svh used for mobile */

header {
    height: 50svh;
}

h1 {
    font-size: 23svh;
    line-height: 25svh;
    text-align: right;
    padding-right: 1vw;
}

@media screen and (min-height: 900px) {
    h1 {
      font-size: 207px;
      line-height: 225px;
    }
}

@media screen and (max-aspect-ratio: 7 / 5) {
    h1 {
      font-size: 17svh;
      line-height: 19svh;
    }
}

@media all and (orientation: portrait) {
    h1 {
        font-size: 16vw;
        line-height: 18vw;
    }
}

/* --- */
/* NAV */
/* --- */

.nav-contenedor {
    height: 50svh;
    width: 100%;
    padding-top: 20svh;
    padding-bottom: 20svh;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    font-size: 9svh;
    line-height: 10svh;
    a {
        color: var(--forecolor);
    }
    &:hover {
        font-weight: bold;
    }
}

@media screen and (min-height: 800px) {
    .nav-item {
        font-size: 72px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-item {
      font-size: 6svh;
    }
}

@media screen and (max-width: 385px) {
    .nav-item {
      font-size: 5svh;
    }
}
    
@media all and (orientation: portrait) {
    nav {
        padding-top: 5svh;
        padding-bottom: 5svh;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}

/* ---- */
/* MENU */
/* ---- */

/* Menu is located on top of everithing. It is moved (translate) above the screen when not shown */
/* It is positioned on top of everything */
.menu {
    z-index: 100;
    translate: 0 -100%;
    transition: translate 1s;
    background-color: var(--menu-color);
    height: 100dvh;
    width: 100%;
    max-width: 1280px;
    position: fixed;
    top: 0;
    .flecha {
        display: block;
        margin-top: 12.5svh;
        margin-right: auto;
        margin-left: auto;
        height: 25svh;
        width: fit-content;
        margin-bottom: 12.5svh;
        color: var(--forecolor);
        font-size: 24svh;
    }
}

/* To show menu, it is tranlated to its original position */
.show-menu {
    translate: 0 0;
}

/* When menu is shown, the scroll is disabled from body */
.show-scroll {
    overflow: hidden;
}

/* Menu icon appears when nav list form landing page dissapears. Is a circle div with an icon */
.menu-icono {
    z-index: 100;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    translate: 5rem -5rem;
    transition: translate 1s;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    background-color: var(--forecolor);
    i {
        font-size: 3rem;
        line-height: 3rem;
    }
    &:hover {
        cursor: pointer;
    }
}

/* menu-icon is located fixed on top-right corner. It is translated outside screen to be hidden and 
moved (translate) to its original position to be shown */
.show-menu-icono {
    translate: 0 0;
}

/* When screen (viewport) is wider than 1280px position for menu-icono has to be calculated to be inside the 1280px body used */
@media screen and (min-width: 1280px) {
    .show-menu-icono {
        translate: calc((1280px - 100vw)/2) 0;
    }
}

/* Menu button on mobile relocation to bottom left */
/* Shown and hidden position are changed to appear from and be show on left bottom corner */
@media screen and (orientation: portrait) {
    .menu-icono {
        translate: -100vw calc(100dvh);
    }
    .show-menu-icono {
        translate: calc(5rem - 100vw) calc(100dvh - 5rem);
    }
}

/* --------- */
/* CONTENIDO */
/* --------- */

/* Content section includes the padding (larger on the left to acomodate title) and flex to center content */
.contenido {
    width: 100%;
    min-height: 100lvh;
    padding: 10lvh 10lvw 10lvh 20lvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25lvh;
    opacity: 0;
    transition: opacity 1s;
}

/* Used to animate fade in animation on content */
.show-contenido {
    opacity: 1;
}

/* When screen (viewport) width is more than 1280px body limits width to 1280px so padding is fixed in that direction */
@media screen and (min-width: 1280px) {
    .contenido {
        padding: 10lvh 128px 10lvh 256px;
    }
}

/* Content title */

.contenido-titulo {
    color: var(--forecolor);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    /* Change point of reference for transform */
    transform-origin: top left;
    /* Located vertically on the side and rotated to 90deg from the screen plane (rotateX)*/
    transform: rotateZ(-90deg) translateX(-100%) rotateX(90deg);
    text-align: center;
    /* because of "rotateZ(-90deg)" the width is aligned to the height of the viewport */
    width: 100dvh;
    font-size: 8vw;
    line-height: 10vw;
    transition: transform 1s;
}

/* Sizes calculated to use most of the left 10% of the screen */
@media screen and (min-width: 1280px) {
    .contenido-titulo {
        font-size: 102.4px;
        line-height: 128px;
    }
}

@media screen and (min-aspect-ratio: 1280 / 720) {
    .contenido-titulo {
        font-size: 14.4svh !important;
        line-height: 18svh !important;
    }
}

/* to show the title rotateX is removed */
.show-titulo {
    transform: rotate(-90deg) translateX(-100%);
}

/* When screen is above 1280px the body is limited to that so some calculations have to be done */
@media screen and (min-width: 1280px) {
    .contenido-titulo {
        transform: rotateZ(-90deg) translateX(-100%) translateY(calc((100vw - 1280px)/2)) rotateX(90deg);
    }
    .show-titulo {
        transform: rotate(-90deg) translateX(-100%) translateY(calc((100vw - 1280px)/2));
        font-size: 102.4px;
        line-height: 128px;
    }
}

/* Bloque de texto */

/* Block text dimensions and sizes depend on different screen sizes */
.block-texto {
    background-color: var(--background-dark);
    padding: 3rem;
    border-radius: 3rem;
}

.contenido-texto {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: start;
}

@media screen and (max-width: 600px) {
    .block-texto {
        padding: 2rem;
        border-radius: 2rem;
    }
    .contenido-texto {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .block-texto {
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
    .contenido-texto {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }
}

#contacto {
    .contenido-texto {
        text-align: center;
    }
}

.contenido-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6rem;
    row-gap: 3rem;
    justify-content: center;
}

.contenido-item {
    font-size: 6rem;
    a {
        color: var(--forecolor);
    }
}

/* Bloque de proyectos */

.block-sitio {
    background-color: var(--background-dark);
    position: sticky;
    top: 10lvh;
    /* Aspect ratio is calculated with max size posible */
    aspect-ratio: 896 / 576;
    max-width: 100%;
    max-height: 80lvh;
    border-radius: 8% / 12.5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

@media screen and (min-height: 720px) {
    .block-sitio {
        top: calc(10lvh + ((100lvh*0.8)/2 - 288px));
    }
}

@media screen and (orientation: portrait) {
    .block-sitio {
        position: static;
    }
    .contenido {
        row-gap: 10lvh;
    }
}

.sitio-titulo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        font-size: 3rem;
    }
    @media screen and (max-height: 480px) {
        h3 {
            font-size: 2rem;
        }
    }
    @media screen and (max-height: 320px) {
        h3 {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 950px) {
        h3 {
            font-size: 2rem;
        }
    }
    @media screen and (max-width: 700px) {
        h3 {
            font-size: 1rem;
        }
    }
}

.sitio-img {
    display: block;
    aspect-ratio: 896 / 504;
    width: 100%;
}

/* ----------------- */
/* DARK/LIGHT SWITCH */
/* ----------------- */

.contraste {
    z-index: 75;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    line-height: 2.5rem;
    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 1280px) {
    .contraste {
        right: calc((100vw - 1280px)/2);
    }
}

.hide-contraste {
    display: none;
}

.show-contraste {
    display: inline;
}